<% content_for :page_title, "Homepage" %>

<nav class="filters">
  <!-- filter feat yet to be done -->
  <%= active_link_to "All Ads", root_path, active: { category: nil } %>
  <%= active_link_to "Requests", root_path(category: "request"), active: { category: "request" } %>
  <%= active_link_to "Offers", root_path(category: "offer"), active: { category: "offer" } %>
</nav>

<% @ads.each do |ad| %>

  <div class="ad">
    <%= link_to ad.title, ad_path(ad) %>
  </div>

<% end %>
