<% content_for :page_title, @user.username %>

<%= image_tag @user.photo.medium.url %>

<div class="user-list-item">
  <h2><%= @user.username %></h2>

  <% if @user.studio_number.present? %>
    <span>from studio <%= @user.studio_number %></span>
  <% end %>
</div>

<p>Their email is <%= @user.email %></p>
