<% content_for :page_title, "About" %>

<div class="wrapper-image">
  <% if @content.image.present? %>
    <%= image_tag @content.image.url %>
  <% end %>
</div>

<h1><%= @content.title %></h1>

<%= simple_format @content.body %>