@import url('https://fonts.googleapis.com/css?family=PT+Serif|Work+Sans');

$orange: #ee6a00;
$lightyellow: #ffeccf;
$black: #1e1e1e;
$white: #f1f1f1;

$titleFont: 'PT Serif';
$bodyFont: 'Work Sans';

* {
	box-sizing: border-box;
}

body {
	color: $orange;
	font-family: $bodyFont;
	font-size: 18px;
	line-height: 1.5;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: $titleFont;
}

header,
main,
footer {
	padding: 20px 30px 20px 30px;
}

a {
	color: $black;
}

header {
	background: $black;
	display: flex;
	align-items: center;
	justify-content: space-between;

	h1 {
		margin: 0;

		img {
			width: 200px;
		}
	}

	nav a {
		color: $orange;
		background-color: transparent;
		text-decoration: none;
		padding: 6px 8px;
		border-radius: 6px;
		border: solid 2px $orange;
	}

	nav a:hover {
		color: $white;
		background-color: $orange;
	}
}

main {
	min-height: calc(100vh - 150px);
}

footer {
	font-size: 14px;
	color: $orange;
	text-align: center;
}

label {
	display: block;
}

input,
textarea {
	font-size: 18px;
	min-width: 400px;
	border: 1px solid #cccccc;
	padding: 7px 10px;
	font-family: inherit;
}

input[type='submit'] {
	background: $orange;
	color: $white;
	border-color: $orange;
}

textarea {
	min-height: 400px;
}

nav.filters {
	margin: 0 0 20px 0;
	padding: 0 0 10px 0;
	font-size: 24px;
	border-bottom: 2px solid $orange;

	display: flex;
	align-items: center;

	a {
		margin: 0 26px 0 0;
		text-decoration: none;
		color: $black;

		&.active {
			color: $orange;
		}
	}

	div,
	form {
		margin: 0 0 0 25px;
	}

	input {
		min-width: 200px;
		font-size: 14px;
		padding: 4px 5px;
	}
}

.ad {
	color: $black;

	.name {
		font-size: 1.4rem;
		font-weight: 900;
	}

	.textarea {
		background-color: $orange;
		width: 50%;
		min-height: 200px;
		padding: 5px 20px;
		margin: 10px 0;
	}
}

.ad-item {
	p {
		margin-top: -20px;
		opacity: 0.75;
	}

	a {
		text-decoration: none;
	}
}

.comment {
	font-size: 14px;
	border-bottom: 2px solid $orange;

	p.posted {
		color: #999999;
		font-size: 12px;
	}
}
