@import url('https://fonts.googleapis.com/css?family=PT+Serif|Work+Sans');

$orange: #ee6a00;
$black: #1e1e1e;
$white: #f1f1f1;

$titleFont: 'PT Serif';
$bodyFont: 'Work Sans';

* {
	box-sizing: border-box;
}

body {
	color: $orange;
	font-family: $bodyFont;
	font-size: 18px;
	line-height: 1.5;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: $titleFont;
}

header {
	padding: 0 32px;
}

main,
footer {
	padding: 20px 30px 20px 30px;
}

nav {
	display: flex;
}

a {
	color: $black;
}

header {
	background: $black;
	display: flex;
	align-items: center;
	justify-content: space-between;
	
	h1 {
		margin: 0;

		img {
			width: 180px;
			display: flex;
			align-self: center;
		}
	}

	h2 {
		font-size: 2.5rem;
	}

	.username {
		font-size: 1.2rem;
		margin-right: 1.4rem;
	}

	// button-like
	.navbar a {
		color: $orange;
		background-color: transparent;
		text-decoration: none;
		padding: 8px 16px;
		border-radius: 6px;
		border: solid 2px $orange;
		font-size: 1.4rem;
	}

	.navbar a:hover {
		color: $white;
		background-color: $orange;
	}
}

// button-like
.bookmark > a {
	color: $white;
	background-color: $orange;
	text-decoration: none;
	padding: 6px 8px;
	border-radius: 6px;
	border: solid 2px $orange;
	font-size: 1rem;
}

main {
	min-height: calc(100vh - 150px);
}

footer {
	font-size: 14px;
	color: $orange;
	text-align: center;
}

label {
	display: block;
}

input,
textarea {
	width: 50%;
	font-size: 18px;
	border: 1px solid #cccccc;
	padding: 7px 10px;
	font-family: inherit;
}

// button-like
input[type='submit'] {
	background: $orange;
	color: $white;
	border-color: $orange;
	margin-top: 20px;

	&:hover {
		filter: brightness(90%);
	}
}

textarea {
	min-height: 400px;
}

nav.filters {
	margin: 0 0 20px 0;
	padding: 0 0 10px 0;
	font-size: 24px;
	border-bottom: 2px solid $orange;

	display: flex;
	align-items: center;

	a {
		margin: 0 26px 0 0;
		text-decoration: none;
		color: $black;

		&.active {
			color: $orange;
		}
	}

	div,
	form {
		margin: 0 0 0 25px;
	}

	input {
		min-width: 200px;
		font-size: 14px;
		padding: 4px 5px;
	}
}

.ad {
	color: $black;
	margin-top: 2rem;

	.user {
		font-size: 1.4rem;
		font-weight: 900;
	}

	.textarea {
		background-color: lighten($orange, 40%);
		font-size: 1.4rem;
		width: 50%;
		min-height: 200px;
		padding: 5px 20px;
		margin: 10px 0;
	}
}

.ad-item {
	p {
		margin-top: -20px;
		opacity: 0.75;
	}

	a {
		text-decoration: none;
	}
}

.comment {
	color: $black;
	font-size: 14px;
	border-bottom: 2px solid $orange;
	width: 50%;

	p.posted {
		color: #999999;
		font-size: 12px;
	}
}

h3 {
	font-size: 2rem;
}

.ad-info {
	label {
		margin-top: 8px;
	}
}

.updated_at {
	opacity: 0.75;
}

.actions {
	margin-top: 20px;

	a {
		color: $orange;
		background-color: transparent;
		text-decoration: none;
		padding: 6px 26px;
		border-radius: 6px;
		border: solid 2px $orange;
	}

	a:hover {
		color: $white;
		background-color: $orange;
	}
}

.success {
	background-color: $orange;
	color: $white;
	padding: 10px 30px;
}

@media screen and (max-width: 900px) {
	input,
	textarea {
		width: 100%;
	}

	.username {
		display: none;
	}

	header {
		padding-top: 12px;
		padding-bottom: 12px;

		h1 {
			img {
				width: 110px;
			}
		}

		.navbar a {
			font-size: 1rem;
		}

		h2 {
			font-size: 1.4rem;
			display: none;
		}

		.navbar a {
			padding: 4px 8px;
		}
	}

	nav.filters {
		font-size: 16px;

		a {
			margin: 0 12px 0 0;
		}
	}

	.ad {
		.textarea {
			width: 100%;
		}
	}

	.comment {
		width: 100%;
	}

	.ad-item h2 {
		font-size: 1.2rem;
	}
}

@media screen and (max-width: 400px) {
	header {
		padding: 12px 12px;
	}

	.actions {
		display: flex;
		flex-direction: column;
		row-gap: 10px;
		text-align: center;
	}

	.show-ad-title {
		font-size: 1.4rem;
	}

	.nav-actions {
		display: flex;
		padding: 4px 8px;
		gap: 6px;
		font-size: 1rem;
		text-align: center;
	}

	.nav-actions .logout {
		flex-direction: column;
	}
}
